@media screen and (max-width: 767.9px) {

    .list {
        list-style: none;
    }
    h1, h2, h3 {
        margin: 0;
    }
        
    .contact {
        width: 100%;
        background-color: $secondaryBackground;        
        background-position-x: 0; 
        background-position-y: 362px;
        padding-top: 60px;  
        padding-left: 20px;  
        padding-right: 20px;      

        &__container {
        display: block;
        width: 320px;
      
    }
    &__agency-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__agency-item {    
        width: 280px;       
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 32px;

        background-color: #ffffff;
        
        border: 1px transparent; 
        border-radius: 24px;  
        box-shadow: 0px 8px 30px 0px #D414431A;

        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }
    &__agency-item:not(:last-child) {
        margin-bottom: 20px;
    }
    &__agency-item:hover {
        transform: scale(1.1);
    }
    
    &__agency-name {       
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        letter-spacing: 0.04em;
        text-align: center;   
        color: $contrastTextColor;
        align-items: center;   

        width: 80px;
        height: 16px;
        margin: 0;
        padding: 0;
        background-color: #F0D1A5;
        border: transparent;
        border-radius: 4px;
    }
    &__footruck-name {
        color: $contrastTextColor;  
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        letter-spacing: 0.04em;
        text-align: center;
        align-items: center;
    
        width: 130px;
        height: 16px;
        margin: 0;
        padding: 0;
        background-color: #C2E297;

        border: transparent;
        border-radius: 4px;
    }
    }
    
    .info-list {
        &__info-item {
            display: block;
            width: 179px;            
            padding-top: 24px;            
            margin-left: 0; 
            text-decoration: none;    
        }
        &__info-item:not(:last-child) {
            padding-bottom: 24px;
            border-bottom: 1px solid #E1E1E1;
        }
        &__info-item:first-child {
            padding-top: 20px;            
        }
    }
    .sity-name {
        color: $mainHeadercolor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        letter-spacing: 0.04em;
        text-align: left;

        margin-bottom: 8px;
    }
    .commit {
        color:$mainTextColor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;        
    }
    .day-info {
        color: $mainHeadercolor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;        
    }
    .time-info {
        color: #FFA5BA;       
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        letter-spacing: 0em;
        text-align: left;
        
        margin-top: 0;
        margin-bottom: 8px;
    }
    .tell-info {
        color:$mainTextColor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
        text-decoration: none;
        
    }
    .mail-info {
        color:$mainTextColor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
        text-decoration: none;
    }


}