@media screen and (max-width: 767.9px) {

    .list {
        list-style: none;
    }
    h1, h2, h3 {
        margin: 0;
    }
        
    .contact {
        width: 100%;
        background-image: linear-gradient(
        to bottom, 
       #ffffff 362px, 
        $secondaryBackground 362px);
        padding-top: 60px;  
        padding-left: 20px;  
        padding-right: 20px;      

        &__container {
        display: block;
        width: 320px;
      
    }
    &__agency-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__agency-item {    
        width: 280px;       
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 32px;

        background-color: #ffffff;
        
        border: 1px transparent; 
        border-radius: 24px;  
        box-shadow: 0px 8px 30px 0px #D414431A;

        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }
    &__agency-item:not(:last-child) {
        margin-bottom: 20px;
    }
    &__agency-item:hover {
        transform: scale(1.1);
    }
    
    &__agency-name {       
        font-size: 12px;
        font-weight: 500;
        line-height: 1.86;
        letter-spacing: 0.04em;
        text-align: center;   
        color: $contrastTextColor;
        font-style: normal;   

        width: 80px;
        height: 16px;
        margin: 0;
        padding: 0;
        background-color: #F0D1A5;
        border: none;
        border-radius: 4px;
    }
    &__footruck-name {
        color: $contrastTextColor;  
        font-size: 12px;
        font-weight: 500;
        line-height: 1.86;
        letter-spacing: 0.04em;
        text-align: center;
        align-items: center;
    
        width: 130px;
        height: 16px;
        margin: 0;
        padding: 0;
        background-color: #C2E297;

        border: transparent;
        border-radius: 4px;
    }
    }
    
    .info-list {
        &__info-item {
            display: block;
            width: 179px;            
            padding-top: 24px;            
            margin-left: 0; 
            text-decoration: none;    
        }
        &__info-item:not(:last-child) {
            padding-bottom: 24px;
            border-bottom: 1px solid #E1E1E1;
        }
        &__info-item:first-child {
            padding-top: 20px;            
        }
    }
    .sity-name {
        color: $mainHeadercolor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        letter-spacing: 0.04em;
        text-align: left;

        margin-bottom: 8px;
    }
    .commit {
        color:$mainTextColor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;        
    }
    .day-info {
        color: $mainHeadercolor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;        
    }
    .time-info {
        color: #FFA5BA;       
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        letter-spacing: 0em;
        text-align: left;
        
        margin-top: 0;
        margin-bottom: 8px;
    }
    .tell-info {
        color:$mainTextColor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
        text-decoration: none;
        
    }
    .mail-info {
        color:$mainTextColor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
        text-decoration: none;
    }

    //// button///
    
    /// location///
    
    .button {
        display: block;  
        align-items: center;
        justify-content: center;
    }
    .location-btn {
        width: 161.45px;
        height: 44;  
        margin-top: 32px;
        margin-bottom: 10px;
    
        background-color: $primaryAccentColor;
        border: none;
        border-radius: 22px;
        color: $contrastTextColor;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.31;
        letter-spacing: 0em;
        text-align: center;    
    
    &__vector {
        fill: $contrastTextColor;
        margin-right: 8px;
        background-size: contain;
    }
    &:hover &__vector,
    &:focus &__vector {
        background-color: #FFFFFF;
        color: $primaryAccentColor;
        fill: $primaryAccentColor;
    }
    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
      
        background-color: rgba(0, 0, 0, 0.2);  
        z-index: 1000;  
        overflow: scroll;
      }
      &__backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
     }  
    &__backdrop.is-hidden &__modal-wrapper {
        transform: translate(-50%, -50%);
      }
     &__modal-wrapper {
        position: relative;
        max-width:250px;
        height: auto;
        padding-top: 40px;
        padding-right: 39px;
        padding-bottom: 40px;
        padding-left: 41px;
      
        position: absolute;
        top: 50%;
        left: 50%;
        width: 528px;
        background-image: url(/images/mapdata.jpg);
        background-size: cover;
      }
      &__modal-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      border: 1px solid #FFA5BA;      
      border-radius: 50%;

      }      
    
    }
     ///form///
     .form-btn {
        width: 161.45px;
        height: 44;
        margin: 0;
        background-color: #FFFFFF;
        border-radius: 22px;
        color: $primaryAccentColor;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.31;
        letter-spacing: 0em;
        text-align: center;
    
    &__vector {
        fill: $primaryAccentColor;
        margin-right: 8px;
        background-size: contain;
    }
    &:hover &__vector,
    &:focus &__vector {
        background-color: $primaryAccentColor;
        color: $contrastTextColor;
        fill: $contrastTextColor;
    }   
     &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      
        background-color: rgba(0, 0, 0, 0.2);  
        z-index: 1000;  
        overflow: scroll;
      }
    
     &__backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;     
      }
      
      &__backdrop.is-hidden &__modal-wrapper {
        transform: translate(-50%, -50%) scale(0.1);
      }
      &__modal-wrapper {
        max-width:250px;
        height: auto;
        padding-top: 40px;
        padding-right: 39px;
        padding-bottom: 40px;
        padding-left: 41px;
      
        position: absolute;
        top: 50%;
        left: 50%;
        width: 528px;
        background-color: white;
      }
      &__modal-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        border: 1px solid #FFA5BA;
        border-radius: 50%;
  
        }   
    }
      .form-registration {
        color: $mainHeadercolor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        letter-spacing: 0.04em;
        text-align: center;
      }
      .form-field {
        position: relative;
        margin-bottom: 10px;
            
      &:last-child {
        margin-bottom: 20px;
      }
      &__icon {
        position: absolute;
        top: 50%;
        left: 12px;
      }
      &__label {
        display: block;
        color:$mainTextColor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 4px;
      }    
    }   
   .btn-primary {
    width: 161.45px;
    height: 44;  
    margin-top: 32px;
    margin-bottom: 10px;

    background-color: $primaryAccentColor;
    border: none;
    border-radius: 22px;
    color: $contrastTextColor;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.31;
    letter-spacing: 0em;
    text-align: center; 
   }
}
