.customer-reviews {
  margin-bottom: 60px;
}
.customer-reviews__container {
  overflow: hidden;
}
.customer-reviews__area {
  display: flex;
  transition: 0.2s;
}
.customer-reviews__comment-zone {
  text-align: center;
  min-width: 320px;
  height: 100%;

  @include ice(desktop) {
    min-width: 1160px;
  }
  @include ice(tablet) {
    min-width: 728px;
  }
}
.customer-reviews__photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.customer-reviews__background {
  background-color: #fafafa;
  padding: 30px 50px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/sprite.svg#marks);
}
.customer-reviews_comment {
  background-image: repeating-linear-gradient(
    to bottom,
    #e1e1e1,
    #e1e1e1 1px,
    #fafafa 1px,
    #fafafa 30px
  );

  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
}
.customer-reviews__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
}
.customer-reviews__slider {
  text-align: center;
  min-width: 320px;

  @include ice(desktop) {
    min-width: 1160px;
  }
  @include ice(tablet) {
    min-width: 728px;
  }
}

.slider__btn {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #d9d9d9;

  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
  &--current {
    background-color: #c7133e;
  }
}
.slider-icon {
  fill: currentColor;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover,
  &:focus {
    fill: #d31342;
  }
}

.btn {
  margin-right: 18px;
  border-radius: 50%;
  background-color: transparent;
  &:last-child {
    margin-right: 0px;
  }
}
