*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

button {
    padding: 0;
    border: 0;
}

input {
    margin: 0;
    padding: 0;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}