$mainThemeColor: #FFB8CA;
$primaryAccentColor: #D41443;
$secondaryAccentColor: #FFA5BA;
$iconBack: #FEA5BB;
$iconHoverBack: #D41443;

$primaryBackground: #E5E5E5;
$secondaryBackground: #FFF5F6;

$mainHeadercolor: #000000;
$mainTextColor: #907E82;
$contrastTextColor: #FFFFFF;

$accentTextFont: 'Titan One', sans-serif;

$transTime: 250ms;
$transFunction: cubic-bezier(0.4, 0, 0.2, 1);