$mainThemeColor: #FFB8CA;
$primaryAccentColor: #D41443;
$secondaryAccentColor: #FFA5BA;

$primaryBackground: #E5E5E5;
$secondaryBackground: #FFF5F6;

$mainHeadercolor: #000000;
$mainTextColor: #907E82;
$contrastTextColor: #FFFFFF;

$accentTextFont: 'Titan One', sans-serif;