<section class="about">
    <div class="container">
        <label class="about__label" for="">tradition and love</label>
        <h1 class="about__title">how it’s made?</h1>
        <div class="about__wrapper">
        <!-- <picture> 
            <source 
                srcset="./img/Cow-pic-lg.webp 1x, ./img/Cow-pic-lg@2x.webp 2x" 
                media="(min-width: 1200px)"
                type="image/webp"
            />

            <source 
                srcset="./img/Cow-pic-lg.png 1x, ./img/Cow-pic-lg@2x.png 2x"
                media="(min-width: 1200px)"
            />

            <source 
                srcset="./img/Cow-pic-md.webp 1x, ./img/Cow-pic-md@2x.webp 2x"
                media="(min-width: 768px)"
                type="image/webp"
            />

            <source 
                srcset="./img/Cow-pic-md.png 1x, ./img/Cow-pic-md@2x.png 2x"
                media="(min-width: 768px)"
            />

            <source 
                srcset="./img/Cow-pic-sm.webp 1x, ./img/Cow-pic-sm@2x.webp 2x"
                media="(max-width: 767px)"
                type="image/webp"
            />

            <source 
                srcset="./img/Cow-pic-sm.png 1x, ./img/Cow-pic-sm@2x.png 2x"
                media="(max-width: 767px)"
            />

            <img class="about__img" src="./img/Cow-pic-sm.png" alt="Cow-picture" width="280" height="279">
        </picture> -->
        <h3 class="about__description">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</h3>
        <p class="about__paragraph">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. <br />
            Aliquam erat volutpat. Aenean accumsan.</p>
            <button class="about__btn">Read more</button>
        </div>
    </div>

</section>
</body>