<section class="section about" id="about">
    <div class="container container__about">
        <label class="about__label" for="">tradition and love</label>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__wrapper">
        <picture>
            <source 
                srcset="./images/img-about/Cow-pic-lg.webp 1x, ./images/img-about/Cow-pic-lg@2x.webp 2x"
                media="(min-width: 1200px)"
                type="image/webp"
            />

            <source 
                srcset="./images/img-about/Cow-pic-lg.png 1x, ./images/img-about/Cow-pic-lg@2x.png 2x"
                media="(min-width: 1200px)"
            />

            <source 
                srcset="./images/img-about/Cow-pic-md.webp 1x, ./images/img-about/Cow-pic-md@2x.webp 2x"
                media="(min-width: 768px)"
                type="image/webp"
            />

            <source 
                srcset="./images/img-about/Cow-pic-md.png 1x, ./images/img-about/Cow-pic-md@2x.png 2x"
                media="(min-width: 768px)"
            />

            <source 
                srcset="./images/img-about/Cow-pic-sm.webp 1x, ./images/img-about/Cow-pic-sm@2x.webp 2x"
                media="(max-width: 767px)"
                type="image/webp"
            />

            <source 
                srcset="./images/img-about/Cow-pic-sm.png 1x, ./images/img-about/Cow-pic-sm@2x.png 2x"
                media="(max-width: 767px)"
            />

            <img class="about__img" src="./images/img-about/Cow-pic-sm.png" alt="Cow-picture" width="280" height="279">
        </picture>
        <div class="about__description-wrapper">
        <h3 class="about__description">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</h3>
        <p class="about__paragraph">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
            <p class="about__paragraphpt2">Aliquam erat volutpat. Aenean accumsan.</p>
            <button type="button" class="about__btn">Read more
                <svg class="about__btn-icon" width="4.43" height="8">
                    <use href="./images/sprite.svg#greater-than"></use>
                </svg>
            </button>
            </div>
        </div>
    </div>

</section>
</body>