<section class="advantages">
  <div class="container">
    <h2 class="is-hidden">Advantages</h2>
    <div class="advantages__info">
      <img src="./images/box.png" alt="milk box" class="advantages__img" />
      <p class="adavantages__number">721</p>
      <p class="advantges__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
    <div class="advantages__info">
      <img src="./images/fruits.png" alt="fruits" class="advantages__img" />
      <p class="adavantages__number">16kg</p>
      <p class="advantges__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
    <div class="advantages__info">
      <img src="./images/candy.png" alt="candy" class="advantages__img" />
      <p class="adavantages__number">84</p>
      <p class="advantges__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
  </div>
</section>
