<section class="advantages section">
    <div class="advantages__group container">
      <h2 class="advantages__title">Advantages</h2>
      <div class="advantages__info group-one" aria-label="Block with the first advantege">
        <img
          src="./images/advantages/box.png"
          alt="milk box"
          class="advantages__img img-first"
        />
        <p class="adavantages__number">721</p>
        <p class="advantges__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </div>
      <div class="advantages__info group-two" aria-label="Block with the second advantege">
        <img
          src="./images/advantages/fruits.png"
          alt="fruits"
          class="advantages__img img-second"
        />
        <p class="adavantages__number">16kg</p>
        <p class="advantges__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </div>
      <div class="advantages__info group-three" aria-label="Block with the third advantege">
        <img
          src="./images/advantages/candy.png"
          alt="candy"
          class="advantages__img img-third"
        />
        <p class="adavantages__number">84</p>
        <p class="advantges__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </div>
    </div>
  </section>