<main>
    <section class="contact section">               
        <div class="contact__container container">
          <h1 class="hidden" hidden>Contacts</h1>

            <ul class="contact__agency-list">
                <li class="contact__agency-item">
                    <button class="contact__agency-name" type="button">CAFE</button>
                        <ul class="info-list">
                            <li class="info-list__info-item">                                
                                <h3 class="sity-name">Chicago</h3>
                                <p class="commit">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="info-list__info-item">
                                <h3 class="day-info">Monday - Friday</h3>
                                <p class="time-info">06:00 AM - 10:00 PM</p>
                                <h3 class="day-info">Saturday - Sunday</h3>
                                <p class="time-info">08:00 AM - 16:00 PM</p>
                            </li>
                            <li class="info-list__info-item">
                                <a class="tell-info" href="tel:+610383766284 ">+61(0) 383 766 284 </a>
                                <a class="mail-info" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>                
                </li>
    
                <li class="contact__agency-item">
                    <button class="contact__footruck-name" type="button">FOODTRUCK</button>
                        <ul class="info-list">
                            <li class="info-list__info-item">
                                <h3 class="sity-name">Los Angeles</h3>
                                <p class="commit">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="info-list__info-item">
                                <h3 class="day-info">Monday - Friday</h3>
                                <p class="time-info">06:00 AM - 10:00 PM</p>
                                <h3 class="day-info">Saturday - Sunday</h3>
                                <p class="time-info">08:00 AM - 16:00 PM</p>
                            </li>
                            <li class="info-list__info-item">
                                <a class="tell-info" href="tel:+610383766284 ">+61(0) 383 766 284 </a>
                                <a class="mail-info" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    
                </li>
                <li class="contact__agency-item">
                    <button class="contact__agency-name" type="button">CAFE</button>
                        <ul class="info-list">
                            <li class="info-list__info-item">
                                <h3 class="sity-name">New York</h3>
                                <p class="commit">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="info-list__info-item">
                                <h3 class="day-info">Monday - Friday</h3>
                                <p class="time-info">06:00 AM - 10:00 PM</p>
                                <h3 class="day-info">Saturday - Sunday</h3>
                                <p class="time-info">08:00 AM - 16:00 PM</p>
                            </li>
                            <li class="info-list__info-item">
                                <a class="tell-info" href="tel:+610383766284 ">+61(0) 383 766 284 </a>
                                <a class="mail-info" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>               
                </li>
            </ul>   
         
        <div class="button">       
          <div class="button__box-location">
          <button class="location-btn" type="button" data-modal-open>Our Locations
              <svg class="location-btn__vector" width="12" height="12">   
                  <use href="/images/sprite_btn.svg#icon-angle-right-solid"></use>
              </svg>
          </button>          
          </div>                
          
          <div class="button__box-form">
          <button class="form-btn" type="button" data-modal-open>Franchise
            <svg class="form-btn__vector" width="12" height="12">                
                <use href="/images/sprite_btn.svg#icon-angle-right-solid"></use>
            </svg>
        </button>        
          </div>
                    
        </div>
        </div>                
                    
        
    </section>   
    </main>


  
    
    