<article class="customer-reviews">
  <div class="customer-reviews__container container">
    <div class="customer-reviews__area">
      <div class="carousel">
        <button class="carousel__button carousel__button--prev">
          <svg class="slider-icon" width="10" height="10">
            <use href="./images/sprite.svg#back"></use>
          </svg>
        </button>
        <div class="carousel__track-container">
          <ul class="carousel__track">
            <li class="carousel__slide">
              <div class="slider__image">
                <img
                  src="./images/customers/girl-1.png"
                  alt="Фото Эмили"
                  width="85"
                  height="85"
                  loading="lazy"
                />
                <div class="slider__area">
                  <p class="slider__comment">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor
                    risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
                <p class="slider__name">Emily, Los Angeles</p>
              </div>
            </li>
            <li class="carousel__slide">
              <div class="slider__image">
                <img
                  src="./images/customers/girl-2.png"
                  alt="Фото Сьюзи"
                  width="85"
                  height="85"
                  loading="lazy"
                />
              </div>
            </li>
            <li class="carousel__slide">
              <div class="slider__image">
                <img
                  src="./images/customers/girl-3.png"
                  alt="Фото Джанет"
                  width="85"
                  height="85"
                  loading="lazy"
                />
              </div>
            </li>
          </ul>
        </div>
        <button class="carousel__button carousel__button--next">
          <svg class="slider-icon" width="10" height="10">
            <use href="./images/sprite.svg#next"></use>
          </svg>
        </button>
        <div class="carousel__nav">
          <button class="carousel__indicator current-slide"></button>
          <button class="carousel__indicator"></button>
          <button class="carousel__indicator"></button>
        </div>
      </div>
    </div>
  </div>
</article>
