<article class="customer-reviews">
  <div class="customer-reviews__container container">
    <div class="customer-reviews__area">
      <!-- Первый отзыв -->
      <div class="customer-reviews__comment-zone">
        <picture>
          <source
            srcset="
              ./images/customers/girl-1.webp    1x,
              ./images/customers/girl-1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/customers/girl-1.png    1x,
              ./images/customers/girl-1@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="customer-reviews__photo"
            src="./images/customers/girl-1.png"
            alt="Emily`s photo"
            width="85"
            height="85"
            loading="lazy"
          />
        </picture>
        <!-- Зона відгуку -->
        <div class="customer-reviews__background">
          <p class="customer-reviews__comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="slider">
          <button class="slider__btn slider__btn--current"></button>
          <button class="slider__btn slider__btn"></button>
          <button class="slider__btn slider__btn"></button>
        </div>
        <p class="customer-reviews__name">Emily, Los Angeles</p>
      </div>
      <!-- Второй отзыв -->
      <div
        class="customer-reviews__comment-zone customer-reviews__comment-zone--slider"
      >
        <picture>
          <source
            srcset="
              ./images/customers/girl-2.webp    1x,
              ./images/customers/girl-2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/customers/girl-2.png    1x,
              ./images/customers/girl-2@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="customer-reviews__photo"
            src="./images/customers/girl-2.png"
            alt="Susie's photo"
            width="85"
            height="85"
            loading="lazy"
          />
        </picture>

        <p class="customer-reviews__comment">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <div class="slider">
          <button class="slider__btn slider__btn"></button>
          <button class="slider__btn slider__btn--current"></button>
          <button class="slider__btn slider__btn"></button>
        </div>
        <p class="customer-reviews__name">Susie, New York City</p>
      </div>
      <!-- Третий отзыв -->
      <div
        class="customer-reviews__comment-zone customer-reviews__comment-zone--slider"
      >
        <picture>
          <source
            srcset="
              ./images/customers/girl-3.webp    1x,
              ./images/customers/girl-3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/customers/girl-3.png    1x,
              ./images/customers/girl-3@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="customer-reviews__photo"
            src="./images/customers/girl-3.png"
            alt="Janet`s photo"
            width="85"
            height="85"
            loading="lazy"
          />
        </picture>

        <p class="customer-reviews__comment">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <div class="slider">
          <button class="slider__btn slider__btn"></button>
          <button class="slider__btn slider__btn"></button>
          <button class="slider__btn slider__btn--current"></button>
        </div>
        <p class="customer-reviews__name">Janet, Chicago</p>
      </div>
    </div>

    <div class="customer-reviews__slider">
      <button class="btn-slider btn-home" aria-label="Come back home"> <a href="#home-hero">
        <svg class="slider-icon" width="10" height="10">
          <use href="./images/sprite.svg#home"></use>
        </svg></a>
      </button>
      <button class="btn-slider btn-previous" aria-label="Previous review">
        <svg class="slider-icon" width="10" height="10">
          <use href="./images/sprite.svg#back"></use>
        </svg>
      </button>
      <button class="btn-slider btn-next">
        <svg class="slider-icon" width="10" height="10" aria-label="Next review">
          <use href="./images/sprite.svg#next"></use>
        </svg>
      </button>
    </div>
  </div>
</article>
