<section class="section products">
    <div class="container">
        <div class="products__box">
            <label class="products__label" for="products__title">100% natural</label>
            <h2 class="products__title" id="products__title">products</h2>
        </div>

        <ul class="products__list">
            <li class="products__item products__item--pink">
                <h3 class="products__subtitle">ice cream</h3>

                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. 
                    dolore magna aliqua facilisis.</p>
                    <button class="products__button" type="button">
                        <svg class="products__icon" width="20" height="15">
                            <use href="./images-products/icons/sprite.svg#icon-product-btn"></use>
                        </svg>
                    </button>
            </li>
            <li class="products__item products__item--mokko">
                <h3 class="products__subtitle">ice coffee</h3>

                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. 
                    dolore magna aliqua facilisis.</p>
                    <button class="products__button" type="button">
                        <svg class="products__icon" width="20" height="15">
                            <use href="./images-products/icons/sprite.svg#icon-product-btn"></use>
                        </svg>
                    </button>
            </li>
            <li class="products__item products__item--green">
                <h3 class="products__subtitle">milkshakes</h3>

                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. 
                    dolore magna aliqua facilisis.</p>
                    <button class="products__button" type="button">
                        <svg class="products__icon" width="20" height="15">
                            <use href="./images-products/icons/sprite.svg#icon-product-btn"></use>
                        </svg>
                    </button>
            </li>
        </ul>
    </div>
</section>