<section class="footer">
    <div class="container">
        <h2 class="footer__title">homemade ice cream made</h2>
        <h3 class="footer__title2">with passion</h3>
        <address>
            <ul class="footer__list">
                <li class="footer__social">
                    <a href="" class="social--link" aria-label="icon github">
                        <svg class="footer__icons" width="32" height="32">
                            <use href="../images/sprite.svg#icon-github1"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__social">
                    <a href="" class="social--link" aria-label="icon facebook">
                        <svg class="footer__icons" width="32" height="32">
                            <use href="../images/sprite.svg#icon-facebook1"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__social">
                    <a href="" class="social--link" aria-label="icon telegram">
                        <svg class="footer__icons" width="32" height="32">
                            <use href="../images/sprite.svg#icon-telegram1"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="footer__address">
                <span class="address--title">Feel free to contact</span>
                <a href="tel:+610383766284" class="tel" aria-label="tel">+61 (0) 383 766 284</a>
            </div>
            <p class="copyright">&#169; 2022 - IceCream.All Rights Reserved.</p>
        </address>

    </div>
</section>