<footer class="page-footer">
    <div class="container footer-container">
        <div class="footer-main-content" aria-label="homemade ice cream made with passion">
            <div class="footer-moto">
            <p class="footer-moto__text">homemade ice cream made </p>
            <p class="footer-moto__title">with passion</p>
        </div>
        <div class="footer-contacts">
            <ul class="footer-contacts__list">
                <li class="footer-contacts__item">
                    <a href="https://whiteoctopuscodes.github.io/ice-cream_landing/" class="footer-contacts__link" aria-label="link to github">
                        <svg class="footer-contacts__icon">
                            <use href="./images/sprite.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-contacts__item">
                    <a href="https://web.telegram.org/k/" class="footer-contacts__link" aria-label="link to telegram">
                        <svg class="footer-contacts__icon">
                            <use href="./images/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-contacts__item">
                    <a href="https://www.facebook.com/" class="footer-contacts__link" aria-label="link to facebook">
                        <svg class="footer-contacts__icon">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer-contacts__call">Feel free to contact <a class="footer-contacts__tel" href="tel:+610383766284" aria-label="link to call us">+61 (0) 383 766 284</a></p>
        </div></div>
        
        <div class="footer-rights">
            <p>&#169; 2022 - IceCream. All Rights Reserved. </p>
        </div>
    </div>
</footer>