<section class="gallery">
    <div class="gallery__container">
            <ul class="gallery__list">
                    <li class="gallery__item">
                            <img class="gallery__img" 
                                    srcset="./images/gallery/gallery_pic_1_desk.jpeg 1x,
                                            images/gallery/gallery_pic_1_desk@2x.jpeg 2x"
                                    src="./images/gallery/gallery_pic_1_desk.jpeg" alt="matcha ice cream" loading="lazy" />
                    </li>
                    <li class="gallery__item gallery__item--down">
                            <img class="gallery__img" 
                                    srcset="./images/gallery/gallery_pic_2_desk.jpeg 1x,
                                            images/gallery/gallery_pic_2_desk@2x.jpeg 2x"
                                    src="./images/gallery/gallery_pic_2_desk.jpeg" alt="ice cream balls" loading="lazy" />

                            <img class="gallery__img" 
                                    srcset="./images/gallery/gallery_pic_3_desk.jpeg 1x,
                                            images/gallery/gallery_pic_3_desk@2x.jpeg 2x"
                                    src="./images/gallery/gallery_pic_3_desk.jpeg" alt="fruit ice" loading="lazy" />
                    </li>
                    <li class="gallery__item gallery__item--2x">
                            <img class="gallery__img gallery__img--2x" 
                                    srcset="./images/gallery/gallery_pic_4_desk.jpeg 1x,
                                            images/gallery/gallery_pic_4_desk@2x.jpeg 2x" 
                                    src="./images/gallery/gallery_pic_4_desk.jpeg" alt="fruit ice cream" loading="lazy"/>

                            <img class="gallery__img gallery__img--2x" 
                                    srcset="./images/gallery/gallery_pic_5_desk.jpeg 1x,
                                            images/gallery/gallery_pic_5_desk@2x.jpeg 2x"
                                    src="./images/gallery/gallery_pic_5_desk.jpeg" alt="ice cream" loading="lazy" />
                    </li>
                    <li class="gallery__item gallery__item--deep-down">
                            <img class="gallery__img" 
                                    srcset="./images/gallery/gallery_pic_6_desk.jpeg 1x,
                                            images/gallery/gallery_pic_6_desk@2x.jpeg 2x"
                                    src="./images/gallery/gallery_pic_6_desk.jpeg" alt="desserts" loading="lazy" />
                            <img class="gallery__img" 
                                    srcset="./images/gallery/gallery_pic_7_desk.jpeg 1x,
                                            images/gallery/gallery_pic_7_desk@2x.jpeg 2x"
                                    src="./images/gallery/gallery_pic_7_desk.jpeg" alt="ice cream with toppings" loading="lazy" />
                    </li>
                    <li class="gallery__item">
                            <img class="gallery__img" 
                                    srcset="./images/gallery/gallery_pic_8_desk.jpeg 1x,
                                            images/gallery/gallery_pic_8_desk@2x.jpeg 2x"
                                    src="./images/gallery/gallery_pic_8_desk.jpeg" alt="natural ice cream" loading="lazy" />
                            <img class="gallery__img" 
                                    srcset="./images/gallery/gallery_pic_9_desk.jpeg 1x,
                                            images/gallery/gallery_pic_9_desk@2x.jpeg 2x"
                                    src="./images/gallery/gallery_pic_9_desk.jpeg" alt="cold drinks" loading="lazy" />
                    </li>
                    <li class="gallery__item">
                            <img class="gallery__img" 
                                    srcset="./images/gallery/gallery_pic_10_desk.jpeg 1x,
                                            images/gallery/gallery_pic_10_desk@2x.jpeg 2x"
                                    src="./images/gallery/gallery_pic_10_desk.jpeg" alt="delicious desserts" loading="lazy" />
                    </li>
            </ul>
    </div>
</section>