<section class="gallery">
    <div class="gallery__container">
        <ul class="gallery__list">
            <li class="gallery__item">
                <picture class="gallery_picture">
                    <source media="(max-width: 767px)" 
                    srcset="./images/gallery/gallery_pic_1_mob.jpeg 1x,
                            images/gallery/gallery_pic_1_mob@2x.jpeg 2x" type="image/jpeg">
                    <img class="gallery__img" src="./images/gallery/gallery_pic_1_mob.jpeg" 
                    width="44" height="44" alt="matcha ice cream" loading="lazy">
                </picture>
            </li>
            <li class="gallery__item">
                <picture class="gallery_picture">
                    <source media="(max-width: 767px)" 
                    srcset="./images/gallery/gallery_pic_2_mob.jpeg 1x,
                            images/gallery/gallery_pic_2_mob@2x.jpeg 2x" type="image/jpeg">
                    <img class="gallery__img" src="./images/gallery/gallery_pic_2_mob.jpeg" 
                    width="44" height="44" alt="ice cream balls" loading="lazy">
                </picture>
            </li>
            <li class="gallery__item">
                <picture class="gallery__picture">
                    <source media="(max-width: 767px)" 
                    srcset="./images/gallery/gallery_pic_3_mob.jpeg 1x,
                            images/gallery/gallery_pic_3_mob@2x.jpeg 2x" type="image/jpeg">
                    <img class="gallery__img" src="./images/gallery/gallery_pic_3_mob.jpeg" 
                    width="44" height="44" alt="fruit ice" loading="lazy">
                </picture>
            </li>
            <li class="gallery__item">
                <picture class="gallery_picture">
                    <source media="(max-width: 767px)" 
                    srcset="./images/gallery/gallery_pic_4_mob.jpeg 1x,
                            images/gallery/gallery_pic_4_mob@2x.jpeg 2x" type="image/jpeg">
                    <img class="gallery__img" src="./images/gallery/gallery_pic_4_mob.jpeg" 
                    width="89" height="90" alt="fruit ice cream" loading="lazy">
                </picture>
            </li>
            <li class="gallery__item">
                <picture class="gallery_picture">
                    <source media="(max-width: 767px)" 
                    srcset="./images/gallery/gallery_pic_5_mob.jpeg 1x,
                            images/gallery/gallery_pic_5_mob@2x.jpeg 2x" type="image/jpeg">
                    <img class="gallery__img" src="./images/gallery/gallery_pic_5_mob.jpeg" 
                    width="44" height="44" alt="ice cream" loading="lazy">
                </picture>
            </li>
            <li class="gallery__item">
                <picture class="gallery_picture">
                    <source media="(max-width: 767px)" 
                    srcset="./images/gallery/gallery_pic_6_mob.jpeg 1x,
                            images/gallery/gallery_pic_6_mob@2x.jpeg 2x" type="image/jpeg">
                    <img class="gallery__img" src="./images/gallery/gallery_pic_6_mob.jpeg" 
                    width="44" height="44" alt="desserts" loading="lazy">
                </picture>
            </li>
            <li class="gallery__item">
                <picture class="gallery_picture">
                    <source media="(max-width: 767px)" 
                    srcset="./images/gallery/gallery_pic_7_mob.jpeg 1x,
                            images/gallery/gallery_pic_7_mob@2x.jpeg 2x" type="image/jpeg">
                    <img class="gallery__img" src="./images/gallery/gallery_pic_7_mob.jpeg" 
                    width="44" height="44" alt="ice cream with toppings" loading="lazy">
                </picture>
            </li>
            <li class="gallery__item">
                <picture class="gallery_picture">
                    <source media="(max-width: 767px)" 
                    srcset="./images/gallery/gallery_pic_8_mob.jpeg 1x,
                            images/gallery/gallery_pic_8_mob@2x.jpeg 2x" type="image/jpeg">
                    <img class="gallery__img" src="./images/gallery/gallery_pic_8_mob.jpeg" 
                    width="44" height="44" alt="natural ice cream" loading="lazy">
                </picture>
            </li>
            <li class="gallery__item">
                <picture class="gallery_picture">
                    <source media="(max-width: 767px)" 
                    srcset="./images/gallery/gallery_pic_9_mob.jpeg 1x,
                            images/gallery/gallery_pic_9_mob@2x.jpeg 2x" type="image/jpeg">
                    <img class="gallery__img" src="./images/gallery/gallery_pic_9_mob.jpeg" 
                    width="44" height="44" alt="cold drinks" loading="lazy">
                </picture>
            </li>
            <li class="gallery__item">
                <picture class="gallery_picture">
                    <source media="(max-width: 767px)" 
                    srcset="./images/gallery/gallery_pic_10_mob.jpeg 1x,
                            images/gallery/gallery_pic_10_mob@2x.jpeg 2x" type="image/jpeg">
                    <img class="gallery__img" src="./images/gallery/gallery_pic_10_mob.jpeg" 
                    width="44" height="44" alt="delicious desserts" loading="lazy">
                </picture>
            </li>
        </ul>
    </div>
</section>