<header class="page-header">
    <div class="container header__container">
        <a class="logo" href="index.html">
            <svg class="logo__svg">
                <use href="./images/hero-header/icons.svg#logo"></use>
            </svg>ICECREAM</a>
            <div class="header-content">
                
                <button class="header__menu-btn" type="button" data-modal-open0>
            <svg class="header__menu-svg">
                <use class="header_open" href="./images/hero-header/icons.svg#menu"></use>
                <use class="header_close" href="./images/sprite.svg#close_menu"></use>
            </svg>
                </button>
                <ul class="header-content__list">
                    <li class="header-content__item"><a href="" class="header-content__link current">Home</a></li>
                    <li class="header-content__item"><a href="" class="header-content__link">About us</a></li>
                    <li class="header-content__item"><a href="" class="header-content__link">How it’s made?</a></li>
                    <li class="header-content__item"><a href="" class="header-content__link">Our products</a></li>
                    <li class="header-content__item"><a href="" class="header-content__link">Contact</a></li>
                </ul>

            <button class="button_buy-now" type="button">
                Buy now
                <svg class="button_buy-now__icon">
                    <use></use>
                </svg>
            </button>
            </div>
    </div>
</header>
