<section class="hero-section container" id="hero">
    <div class=" hero-container">
        <div class="hero-mob">
            <div class="hero-circle">
                 <img  src="/src/images/hero-header/mobile/circle.png" alt="Circle">
            </div>
                <div class="hero-ice-cream-img">
                <img 
                srcset="./images/hero-header/mobile/iceCream.png 1x, 
                ./images/hero-header/mobile/iceCream@2x.png 2x"
                media="(min-width:320px)" 
                src="./images/hero-header/mobile/icecream.png"
                alt="Ice cream in a waffle cone">
            </div>
            
            <div class="hero-wrap">
                <div class="hero__wrap-title">
                    <h1 class="hero__title">
                        ice cream 
                        <br>made with<br>
                        <span class="hero__title-span">passion</span>
                    </h1>
                    <div class="hero-links">
                        <ul class="hero__button-list list">
                            <li>
                                <a class="hero__btn1 btn400 link" href="#products">Products</a>
                            </li>
                            <li class="hero__about">
                                <a class="hero__btn2 btn400 link" href="#about">How it’s made?</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            
               
        </div>
    </div>
</section>