<section class="hero">
    <div class="container hero__container">
        <div class="hero__list-wrap">
            <div class="hero__title-btn-wrap">
                <h1 class="hero__title">
                    ice cream <br />
                    made with<br />
                    <span class="section__title--hero ">passion</span>
                </h1>

                <ul class="hero-btn-list">
                    <li class="hero-btn-list__item hero-btn-list__link">
                        
                            <button class="bttn bttn--accent">Products</button>
                        
                    </li>
                    
                    <li class="hero-btn-list__link">
                        
                                    <button class=" bttn bttn--main hero__btn">How
                                it’s made?</button>
                        
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</section>