<header class="header" id="home">
    <div class="header__wrapper container">
        <!-- логотип -->
        <div class="header__nav">

            <img class="header__logo" src="/src/images/hero-header/logo.png" alt="logo" />

            <button class="header__open-menu" type="button" data-modal-open>
                <svg width="20" height="14">
                    <use href="/src/images/hero-header/icons.svg#burger"></use>
                </svg>
            </button>

        </div>

        <!-- Овал и мороженное -->
        <div>
            <img class="circle-img" src="/src/images/hero-header/mobile/circle.png" alt="Circle">
            <img class="ice-img"
                srcset="./images/hero-header/mobile/iceCream.png 1x, ./images/hero-header/mobile/iceCream@2x.png 2x"
                media="(min-width:768px)" type="image/png" src="./images/hero-header/mobile/icecream.png"
                alt="Ice cream in a waffle cone">
        </div>

        <div class="header__wrap-title">
            <h1 class="header__title">
                ice cream made with
                <span class="header__title-span">passion</span>
            </h1>
            <ul class="header__button-list list">
                <li>
                    <a class="header__btn1 btn400 link" href="#products">Products</a>
                </li>
                <li class="hero__about">
                    <a class="header__btn2 btn400 link" href="#about">How it’s made?</a>
                </li>
            </ul>
        </div>




    </div>
</header>