<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice-cream</title>
    <link rel="stylesheet" href="./sass/index.scss" />
</head>
<body>
<div class="backdrop hide is_hidden">
    <div class="menu">
        <button class="" type="button">
            <svg class="menu_icon" width="" height="">
                <use href=""></use>
            </svg>
        </button>
        <button class="" type="button">Buy now</button>
        <ul class="list">
            <li class="">
                <a class="" href="">Home</a>
            </li>
            <li class="">
                <a class="" href="">about us</a>
            </li>
            <li class="">
                <a class="" href="">How it`s made</a>
            </li>
            <li class="">
                <a class="" href="">Our products</a>
            </li>
            <li class="">
                <a class="" href="">Contact</a>
            </li>
        </ul>
    </div>
</div> 
</body>
</html>