.about {
    background-color:$secondaryBackground;

}

.container__about{
    width: 320px;

    margin: 0 auto;

}

.about__label {
    display: block;
    font-family:$accentTextFont;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

text-align: center;
text-transform: uppercase;

color:$secondaryAccentColor;
margin-bottom: 15px;
}

.about__title {
    font-family:$accentTextFont;
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 39px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
margin-bottom: 32px;

color:$primaryAccentColor;
}

.about__wrapper {
    

    @media screen and (min-width: 320px) {
        
    }
    
    @media screen and (min-width: 320px) and (max-width: 767.98px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
    }
    }


.about__img {
    margin-bottom: 40px;
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.about__description-wrapper {
    
    margin-left: auto;
    margin-right: auto;
    background-position: top 80px right 0px;
    background-repeat: no-repeat;
    background-image: url(../images/img-about/milk-bg-sm.png);

}

.about__description {
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.62;
color:$mainHeadercolor;
margin-bottom: 40px;
max-width: 220px;
}

.about__paragraph {
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.62;
color:$mainTextColor;
margin-bottom: 20px;
max-width: 220px;
}

.about__paragraphpt2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color:$mainTextColor;
    margin-bottom: 20px;
    max-width: 220px;
}

.about__btn {
    width: 176px;
    height: 44px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 37px;
    padding-right: 37px;
    color:$primaryAccentColor;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #FFFFFF;
    border-radius: 22px;
    border: none;
    background-color: $contrastTextColor;

    &:hover,
    &:focus {
        background-color: #ECEBEB;
    }
    }

.about__btn-icon {
    margin-left: 13px;
    fill:$primaryAccentColor;
    
}