
    .list {
        list-style: none;
    }
    h1, h2, h3 {
        margin: 0;
        padding: 0;
    }
        
    .contact {        
        align-items: center;
        background-image: linear-gradient(
        to bottom, 
       #ffffff 362px, 
        $secondaryBackground 362px);  
        
    &__container {
        display: block;

        @include ice(mobile-only) { 
            max-width: 480px;
        }
    }
    &__agency-list {        
        list-style: none;  
        
        @media screen and (min-width: 768px) {
            display: flex;
        }
    
        @media screen and (min-width: 1200px) {
           display: flex;
        }
    }
    &__agency-item {
        width: 100%;           
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 32px; 
        padding-right: 32px;      
        margin-bottom: 20px;  

        background-color: #ffffff;        
        border: 1px transparent; 
        border-radius: 24px;  
        box-shadow: 0px 8px 30px 0px #D414431A;

            
        @media screen and (min-width: 768px) {
            width: 224px;
            margin-right: 38px;
            margin-bottom: 0;
        }
    
        @media screen and (min-width: 1200px) {
            width: 368px;
            margin-right: 32px;
            margin-bottom: 0;
        }
    }
    &__agency-item:last-child {
        margin-bottom: 0;
        @media screen and (min-width: 768px) {
            margin-right: 0;
         }
     
         @media screen and (min-width: 1200px) {
           margin-right: 0;
         }
    }     
    &__agency-name {       
        font-size: 12px;
        font-weight: 500;
        line-height: 1.86;
        letter-spacing: 0.04em;
        text-align: center;   
        color: $contrastTextColor;
        font-style: normal;   

        width: 80px;
        height: 16px;
        margin: 0;
        padding: 0;
        background-color: #F0D1A5;

        border: transparent;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include ice(mobile-only) { 
            max-width: 480px;
        }

        @media screen and (min-width: 768px) {
            width: 73px;
            height: 28px;

            font-size: 16px;
            line-height: 1.86;
         }
     
         @media screen and (min-width: 1200px) {
            width: 75.1px;
            height: 28px;

            font-size: 16px;
            line-height: 1.86;
         }
    }
    &__footruck-name {
        color: $contrastTextColor;  
        font-size: 12px;
        font-weight: 500;
        line-height: 1.86;
        letter-spacing: 0.04em;
        text-align: center;
        align-items: center;
    
        width: 130px;
        height: 16px;
        margin: 0;
        padding: 0;
        background-color: #C2E297;

        border: transparent;
        border-radius: 4px;

        display: flex;
        justify-content: center;   

        @media screen and (min-width: 768px) {
            width: 138px;
            height: 28px;

            font-size: 16px;
            line-height: 1.86;
         }
     
         @media screen and (min-width: 1200px) {
            width: 138px;
            height: 28px;

            font-size: 16px;
            line-height: 1.86;
         }
    }
    }
    
    .info-list {
        list-style: none;
   
        &__info-item {            
            display: block;                        
            padding-top: 24px;           
            text-decoration: none;   
            
            @media screen and (min-width: 768px) {
               padding-top: 32px;             
             }
         
        }
        &__info-item:not(:last-child) {
            padding-bottom: 24px;
            border-bottom: 1px solid #E1E1E1;

            @media screen and (min-width: 768px) {
                padding-bottom: 32px;
             }
         }
        
        &__info-item:first-child {
            padding-top: 20px;
            
            @media screen and (min-width: 768px) {
              padding-top: 32px;
             }        
        }
    }
    
    .sity-name {
        color: $mainHeadercolor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        letter-spacing: 0.04em;
        text-align: left;

        margin-bottom: 8px;

        @media screen and (min-width: 768px) {
           margin-bottom: 12px;
           font-size: 14px;
           line-height: 1.86;
         }
         @media screen and (min-width: 1200px) {
            margin-bottom: 12px;
            font-size: 16px;          
          }
    }
    .commit {
        color:$mainTextColor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;     
        
        @media screen and (min-width: 768px) {
            font-size: 14px;       
             line-height: 1.66;
         }
         @media screen and (min-width: 1200px) {
            font-size: 16px;       
             line-height: 1.83;
         }
    }
    .day-info {
        color: $mainHeadercolor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;   
        
        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.86;
          }
          @media screen and (min-width: 1200px) {
            font-size: 16px;          
           }
    }
    .time-info {
        color: #FFA5BA;       
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        letter-spacing: 0em;
        text-align: left;
        
        margin-top: 0;
        margin-bottom: 8px;

        @media screen and (min-width: 768px) {
         margin-bottom: 12px;
         font-size: 14px;         
         line-height: 1.86;
         }
         @media screen and (min-width: 1200px) {
            font-size: 16px;          
           }
    }
    .tell-info {
        color:$mainTextColor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 50px;
        text-decoration: none;

        transition: 350ms color cubic-bezier(0.19, 1, 0.22, 1); 

        &:hover,
        &:focus {      
            color: $primaryAccentColor;
        }        

        @media screen and (min-width: 768px) {
            font-size: 14px;         
            line-height: 1.83;
         } 
        @media screen and (min-width: 1200px) {
            font-size: 16px;        
        }

    }
    .mail-info {
        color:$mainTextColor;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
        text-decoration: none;

        transition: 350ms color cubic-bezier(0.19, 1, 0.22, 1); 

        &:hover,
        &:focus {      
            color: $primaryAccentColor;
        }  
        @media screen and (min-width: 768px) {
            font-size: 14px;         
            line-height: 1.83;
         } 
        @media screen and (min-width: 1200px) {
            font-size: 16px;        
        }
    }

    //// button///
    
    /// location///
    
    .button-contact { 
        
        width: 100%;            
        margin-top: 32px;
        padding: 0;
        height: auto;    
        text-align: center;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

     &__box-location,
     &__box-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;    
    }
}   
    .location-btn {

        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 35px;
        padding-right: 36px;           
        margin-bottom: 10px;     
                   
        background-color: $primaryAccentColor;
        border: none;
        border-radius: 22px;
        color: $contrastTextColor;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.31;
        letter-spacing: 0em;
        text-align: center;   

    
       
        @include ice(mobile-only){
            
        }
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
            margin-right: 14.5px;
        }
        transition: 350ms color cubic-bezier(0.19, 1, 0.22, 1); 
        transition: 350ms background-color cubic-bezier(0.19, 1, 0.22, 1); 
        
        margin-top: 32px;

    &:hover,
    &:focus {
        background-color: #FFFFFF;       
        color: $primaryAccentColor;
    }

    &__vector {
        fill: $contrastTextColor;
        margin-left: 8px;
        background-size: cover;
    }

    transition: 350ms fill cubic-bezier(0.19, 1, 0.22, 1); 
    &:hover &__vector,
    &:focus &__vector {      
        fill: $primaryAccentColor;
    }
}    
.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 36px;
    padding-right: 38px;   
    margin: 0;

    background-color: #FFFFFF;
    border: none;
    border-radius: 22px;
    color: $primaryAccentColor;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.31;
    letter-spacing: 0em;
    text-align: center;

    transition: 350ms color cubic-bezier(0.19, 1, 0.22, 1); 
    transition: 350ms background-color cubic-bezier(0.19, 1, 0.22, 1); 

&:hover,
&:focus {
    background-color: $primaryAccentColor;
    color: $contrastTextColor;
}    
&__vector {
    fill: $primaryAccentColor;
    margin-left: 8px;
    background-size: contain;
}

transition: 350ms fill cubic-bezier(0.19, 1, 0.22, 1); 

&:hover &__vector,
&:focus &__vector {       
    fill: $contrastTextColor;
}       
}      


