.customer-reviews {
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    position: relative;
  }

  &__area {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &__comment-zone {
    text-align: center;


    &--slider {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
    }

  }

  &__photo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    @include ice(tablet) {
      margin-bottom: 20px;
    }

    @include ice(desktop) {
      margin-bottom: 16px;
    }
  }

  &__background {
    background-color: #fafafa;
    padding: 30px 50px;

    @include ice(tablet) {
      padding: 37px 55px;
    }

    @include ice(desktop) {
      padding: 47px 73px;
    }
  }

  &__comment {
    background-image: url(../images/customers/icon/marks.svg),
      repeating-linear-gradient(to bottom,
        #e1e1e1,
        #e1e1e1 1px,
        #fafafa 1px,
        #fafafa 30px);

    background-repeat: no-repeat;
    background-position: top left;

    display: block;
    text-align: center;
    width: 157px;

    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;

    @include ice(tablet) {
      width: 514px;
      font-size: 14px;
      line-height: 2.16;
      padding: 0px 55px;
    }

    @include ice(desktop) {
      width: 750px;
      font-size: 16px;
      line-height: 1.86;
      padding-left: 36px;
      padding-right: 35px;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;

    @include ice(tablet) {
      font-size: 16px;
    }

    @include ice(desktop) {
      font-size: 20px;
    }
  }

  &__slider {
    text-align: center;

  }
}

.slider__btn {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #d9d9d9;

  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }

  &--current {
    background-color: #c7133e;
  }
}

.slider-icon {
  fill: currentColor;
}

.btn-slider {
  cursor: pointer;

  margin-right: 18px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #d9d9d9;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:last-child {
    margin-right: 0px;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    color: #d31342;
  }
}