.products {
    background-color: rgba(255, 255, 255, 1);
}

.products__box {
    @include Flex (flex, center, center);
    flex-direction: column;
}

.products__label {
    font-family: $accentTextFont;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: $mainThemeColor;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.15;
}
}

.products__title {
    margin-top: 15px;

    font-family: $accentTextFont;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primaryAccentColor;

    @media screen and (min-width: 768px) {
            font-size: 48px;
    }
}

.products__list {

    @media screen and (max-width: 767.98px) {
        margin-top: 148px;
    }

    @media screen and (min-width: 768px) {
        @include Flex (flex, flex-end, center);
        margin-top: 20px;
    }
}

.products__item {
    position: relative;
    padding: 160px 40px 40px 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    height: 100%;
 
    &--pink {
        background-color: $mainThemeColor;
    }

    &--mokko {
        background-color: #F0D1A5;
    }

    &--green {
        background-color: #C2E297;
    }

    &:not(:first-child) {
        margin-top: 140px;
    }

    &:first-child::before {
        content: '';
        position: absolute;
        top: -140px;
        left: 0;
        height: 280px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('../images/products/ice-cream-sm.png');
        background-image: url('../images/products/ice-cream-sm.webp') 1x;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/ice-cream-sm1@2x.png');

        background-image: url('../images/products/ice-cream-sm1@2x.webp') 2x;
    }
    }

    &:nth-of-type(2)::before {
        content: '';
        position: absolute;
        top: -140px;
        left: 0;
        height: 280px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('../images/products/ice-coffee-sm.png');
        background-image: url('../images/products/ice-coffee-sm.webp') 1x;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/ice-coffee-sm@2x.png');

        background-image: url('../images/products/ice-coffee-sm@2x.webp') 2x;
    }
    }

    &:last-child::before {
        content: '';
        position: absolute;
        top: -140px;
        left: 0;
        height: 280px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('../images/products/milkshakes-sm.png');
        background-image: url('../images/products/milkshakes-sm.webp');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/milkshakes-sm@2x.png');

        background-image: url('../images/products/milkshakes-sm@2x.webp') 2x;
    }
    }

    @media screen and (min-width: 768px) {
        
        &:not(:first-child) {
            margin-left: 16px;
        }
    }
}

.products__subtitle {
    font-family: $accentTextFont;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $contrastTextColor;

    &::after {
        content: '. . .';
        color: $contrastTextColor;
        display: block;
        padding-top: 35px;
}
}

.products__description {
    margin-top: 35px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: $contrastTextColor;
}

.products__button {
    @include Flex (Flex, center, center);
    margin: 0 auto;
    margin-top: 32px;
    width: 40px;
    height: 40px;
    
    cursor: pointer;
    background-color: $contrastTextColor;
    
    border: 1px solid transparent;
    border-radius: 50%;

    transition: color $transTime $transFunction;

    & .products__icon {
        fill: $primaryAccentColor;
    }

    &:hover, 
    &:focus {
        background-color: #ECEBEB;
    }
}

