.both {
  @include ice(mobile-only) {
    display: block;
  }
  @include ice(tablet-only) {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }
  @include ice(desktop) {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }
}
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 101;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.open__icon {
  fill: #fff;
}
.location_btn {
  width: 161px;
  height: 44px;
  background-color: #d41342;
  border-radius: 22px;
  color: $contrastTextColor;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  @include ice(mobile-only) {
    margin-right: auto;
    margin-left: auto;
  }
  margin-right: 15px;

  cursor: pointer;
}
.location__icon {
  fill: #000;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $primaryAccentColor;
  }
}

.location {
  position: fixed;
  display: flex;
  top: 10%;
  left: 15%;
  width: 75%;
  height: 75%;
  border: 2px solid #d41342;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.location_close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fr_btn {
  width: 161px;
  height: 44px;
  border-radius: 22px;
  background-color: $contrastTextColor;
  color: $primaryAccentColor;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  @include ice(mobile-only) {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }

  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.franchize {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 102;
  background-color: $secondaryAccentColor;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  @include ice(desktop) {
    top: 10%;
    left: 40%;
    width: 400px;
    height: 580px;
  }
}

.is_hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.franchize.is_hidden {
  transform: translate(-50%, -50%) skew(60deg);
}
.backdrop.is_hidden {
  transform: translate(0, 0) scale(0.5);
}

.franchize__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  &:hover,
  &:focus {
    fill: #d41342;
  }
}

.franchize__svg {
  fill: $contrastTextColor;
  position: absolute;
  top: 10px;
  right: 10px;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  &:hover,
  &:focus {
    fill: #d41342;
  }
}

.franchise_list {
  margin-bottom: 100px;
}

.franchize__item {
  &:nth-child(odd) {
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
  }
}

.franchize__link {
  text-decoration: none;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 20px;
  font-family: 'DM Sans';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  color: $contrastTextColor;
}

.text {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  letter-spacing: 0.04em;
  color: $primaryAccentColor;
}

.franchize__text {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 15px;
  line-height: 10px;
  color: $primaryAccentColor;
  margin-bottom: 15px;
}

.partner__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  width: 130px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  color: $primaryAccentColor;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  }
}
