.gallery__container {
    margin: 0 auto;
    background-image: linear-gradient(to bottom,
                    $secondaryBackground 22%,
                    $contrastTextColor 22%);

    @include ice(mobile-only) {
        max-width: 767px;
    }

    @include ice(tablet-only) {
        width: 768px;

        background-image: linear-gradient(to bottom,
                            $secondaryBackground 55%,
                            $contrastTextColor 55%);
    }

    @include ice(desktop) {
        width: 1200px;
        padding-left: 93px;
        padding-right: 94px;
    }
}

.gallery__list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gallery__item {
    &:not(:last-child) {
        margin-right: 0.8%;
    }

    @include ice(not-desktop) {
        float: left;
        width: 14%;
    }

    @include ice(desktop) {
        width: 138px;
    }
}

.gallery__item--2x {
    @include ice(not-desktop) {
        width: 28.4%;
    }

    @include ice(desktop) {
        width: 283px;
    }
}

.gallery__img--2x:last-child {
    @include ice(not-desktop) {
        width: 50%;
    }
}

.gallery__item--down {
    padding-top: 4%;
}

.gallery__item--deep-down {
    padding-top: 6%;
}

img + img {
    margin-top: 3%;
} 

.gallery__img {
    border-radius: 8%;

    transition: 500ms transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
    

    &:hover, &:focus {
        cursor: pointer;
        transform: scale(120% , 120%);
    }
}