.page-header {
  position: fixed;
  width: 100%;
  height: 64px;
  left: 0;
  right: 0;
  z-index: 100;

  backdrop-filter: blur(2px);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;

  font-family: 'Titan One';
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: $primaryAccentColor;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
}
.logo__svg {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.modal__close {
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.header__menu-btn {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;

  background-color: transparent;
  border: none;
  cursor: pointer;

  & .header_close {
    display: none;
  }
}
.header__menu-icon {
  width: 20px;
  height: 20px;
  fill: $primaryAccentColor;

  .header__menu-btn:hover &,
  .header__menu-btn:focus & {
    fill: $contrastTextColor;
  }
}
.header__menu-btn.is-open .header_close {
  display: block;
}
.header__menu-btn.is-open .header_open {
  display: none;
}
.header-content {

    @include ice(mobile-only) {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: fixed;
      overflow-x: scroll;
      padding: 60px 20px;
      background-color: #E17992;  

      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: space-between;
    }
}
.header-content.is-open {
        opacity: 1;
        visibility: inherit;
        pointer-events: all;
}
.header-content__list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;

    color: $contrastTextColor;
}
.header-content__item {
  &:not(:last-child) {
    margin-bottom: 23px;
  }
}
.current {
    color: $primaryAccentColor;
}
.button_buy-now {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px 48px;
    border: none;
    border-radius: 25px;
    background-color: $contrastTextColor;
    color: $primaryAccentColor;
 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
}
.button_buy-now__icon {
   width: 5px;
   height: 8px;
   margin-left: 15px;
}