.page-header {
  position: fixed;
  width: 100%;
  height: 64px;
  left: 0;
  right: 0;
  z-index: 100;
  
  @include ice(mobile-only) {
  backdrop-filter: blur(2px);
  }
  
  @include ice(tablet-only) {
    backdrop-filter: blur(0px)
  }
  @include ice(desktop) {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    height: 84px;
    backdrop-filter: blur(0px)
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  backdrop-filter: blur(2px);
  @include ice(tablet-only) {
    justify-content: flex-end;
  }
  @include ice(tablet-only) {
    justify-content: flex-end;
  }
  @include ice(desktop) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

.logo {
  display: flex;
  align-items: center;

  font-family: 'Titan One';
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: $primaryAccentColor;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
}
.logo__svg {
  width: 199px;
  height: 50px;
  margin-right: 15px;
}
.modal__close {
  width: 14px;
  height: 14px;
  fill: currentColor;
}



.header__menu-btn {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;

  background-color: transparent;
  border: none;
  cursor: pointer;

  & .header_close {
    display: none;
  }
  @include ice(desktop) {
    display: none;
  }
}
.header__menu-icon {
  width: 20px;
  height: 20px;
  fill: $primaryAccentColor;

  transition: 350ms fill cubic-bezier(0.19, 1, 0.22, 1); 

  .header__menu-btn:hover &,
  .header__menu-btn:focus & {
    fill: $contrastTextColor;
  }
}
.header__menu-btn.is-open {
  @include ice(tablet-only) {
    position: absolute;
    top: 20px;
    right: 32px;
  }
}
.header__menu-btn.is-open .header_close {
  display: block;
}
.header__menu-btn.is-open .header_open {
  display: none;
}
