.header {
  background-color: $mainThemeColor;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
}
.header__wrapper {
  padding-top: 6px;
  padding-bottom: 160px;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-top: 136px;
    padding-bottom: 28px;
    height: 399px;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 137px;

  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}
.header__logo {
  width: 199px;
  height: 50px;
  @media screen and (min-width: 768px) {
    margin-right: 291px;
  }
}

.header__open-menu {
  background-color: inherit;
  border: none;
  padding: 0;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    z-index: 4;
  }
}
.circle-img {
  position: absolute;
  width: auto;
  top: 83px;
  left: 36px;
  @media screen and (min-width: 768px) {
    top: 31px;
    left: 300px;
    width: 324px;
    height: 322px;
  }
}
.ice-img {
  position: absolute;
  top: 92px;
  right: 32px;

  @media screen and (min-width: 768px) {
    bottom: 0;
    right: 213px;
  }
}

.header__wrap-title {
  position: relative;
}
.header__title {
  font-family: Titan One;
  text-transform: uppercase;
  color: $contrastTextColor;
  margin-bottom: 19px;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.153;
    margin-bottom: 20px;
  }
}
.header__title-span {
  font-family: Titan One;
  font-weight: 400;
  font-size: 48px;
  line-height: 0.95;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primaryAccentColor;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
  }
}
.header__button-list {
  display: inline-flex;
}
.link {
  text-decoration: none;
}

.header__btn1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  width: 62px;
  height: 24px;

  background-color: $primaryAccentColor;
  color: $contrastTextColor;

  border-radius: 20px;
  margin-right: 8px;

  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}
.header__btn2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  width: 82.8px;
  height: 24px;
  left: 90.4px;
  top: 318px;

  background-color: $contrastTextColor;
  color: $primaryAccentColor;

  border-radius: 20px;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.btn400 {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
